<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ppepper.coupon.mapper.CouponUserMapper">

    <select id="getUserCoupons" resultType="com.ppepper.common.dto.CouponUserDTO">
        SELECT
            u.id,
            u.user_id AS userId,
            u.coupon_id AS couponId,
            u.gmt_update AS gmtUpdate,
            u.gmt_create AS gmtCreate,
            u.gmt_end AS gmtEnd,
            c.title,
            c.category_id AS categoryId,
            c.`min`,
            c.discount
        FROM
            b2c_coupon_user AS u,
            b2c_coupon AS c
        WHERE
            u.coupon_id = c.id
            AND u.user_id = #{userId}
            AND u.gmt_used IS NULL
            AND unix_timestamp(u.gmt_start) &lt; unix_timestamp(now())
            AND unix_timestamp(u.gmt_end) &gt; unix_timestamp(now())
    </select>

    <select id="getUserCouponById" resultType="com.ppepper.common.dto.CouponUserDTO">
        SELECT
            u.id,
            u.user_id AS userId,
            u.coupon_id AS couponId,
            u.gmt_update AS gmtUpdate,
            u.gmt_create AS gmtCreate,
            c.title,
            c.category_id AS categoryId,
            c.`min`,
            c.discount
        FROM
            b2c_coupon_user AS u,
            b2c_coupon AS c
        WHERE
            u.id = #{userCouponId}
            AND u.coupon_id = c.id
            AND u.user_id = #{userId}
            AND u.gmt_used IS NULL
            AND unix_timestamp(u.gmt_start) &lt; unix_timestamp(now())
            AND unix_timestamp(u.gmt_end) &gt; unix_timestamp(now())
    </select>

</mapper>